@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import "config";

/* Responsive table fix for Firefox. */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin shadow-2d($color) {
  @include border-radius(0);
  border: none;
  border-bottom: 3px solid $color;
  @include box-shadow(none);
}

/** Main settings. **/
body {
  font-family: $sans-font;
  color: $font-color;
  position: relative; // For scroll spying.
  -webkit-font-smoothing: antialiased;
}

a {
  color: $main-color;
  padding: 0 1em;

  &:hover, &:focus, &:active {
    color: $main-color-darker;
  }
}

/** Only body white background. **/
.table tbody {
  background-color: #fff;
}

/** General classes. **/
.text-large {
  font-size: 1.2em;
}

.container {
  width: 100%;
}

/** Additional class for navbars. **/
.navbar-2d {
  color: $font-color-inverse;
  background-color: $main-color;
  @include shadow-2d($main-color-darker);

  a, .navbar-brand {
    color: $font-color-inverse;

    &:hover, &:focus, &:active {
      color: #fff;
    }
  }

  a.dropdown-toggle {
    color: #fff;
    background-color: $main-color;
  }

  .nav li {
    border-left: 1px solid $main-color-darker;

    &:last-child {
      border-right: 1px solid $main-color-darker;
    }

    & > a {
      color: $font-color-inverse;
      background: $main-color;
      line-height: 20px;
      border: none;

      @media (max-width: 767px) {
        border: none;
      }

      &:hover, &:focus, &:active {
        color: #fff;
        background: $main-color;
        text-decoration: none;
        margin-bottom: -2px;
        border-top: 2px solid $main-color-darker;
      }

      @media (max-width: 767px) {
        &:hover, &:focus, &:active {
          border: none;
          margin-bottom: 0;
        }
      }
    }
  }

  .dropdown-menu li, .dropdown-submenu li {
    border: none;
  }

  .navbar-nav > .open > a, .navbar-nav > .open > a:hover, .navbar-nav > .open > a:focus {
    color: #fff;
    background-color: $main-color;
    border-top: 2px solid $main-color-darker;
    border-color: $main-color-darker;
    margin-bottom: -2px;
    outline: none;
  }

  .navbar-nav .open .dropdown-menu > li > a {
    color: $font-color-inverse;

    &:hover, &:focus, &:active {
      color: #fff;
      border: none;
      border-top: 1px solid $main-color-darker;
      margin-bottom: -1px;
    }
  }

  .dropdown-submenu {
    position: relative;
  }

  .dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
  }

  .dropdown-submenu:hover>.dropdown-menu {
    display: block;
  }

  .dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
  }

  .dropdown-submenu:hover>a:after {
    border-left-color: #fff;
  }

  .dropdown-submenu.pull-left {
    float: none;
  }

  .dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
  }

  .navbar-toggle {
    color: $font-color-inverse;
    @include shadow-2d($main-color-darker);

    &:hover, &:focus, &:active {
      color: #fff;
      background-color: $main-color;
      border-bottom: none;
      margin-top: 8px + 3px;
    }

    .icon-bar {
      background-color: $font-color-inverse;
    }
  }

  .navbar-collapse, .navbar-form {
    border: none;
    @include box-shadow(none);
  }

  .navbar-right {
    margin-right: 5em;

    @media (max-width: 767px) {
      & {
        margin: 7.5px -15px;
      }
    }
  }

  .dropdown-menu {
    color: $font-color-inverse;
    background-color: $main-color;
    @include shadow-2d($main-color-darker);
    border-top: 2px solid $main-color-darker;

    & > li > a {
      color: $font-color-inverse;
      border: none;
    }

    & > li > a:hover, & > li > a:focus {
      color: $main-color-darker;
      background: none;
    }
  }
}

/** If the page has a sidebar-nav. **/
.sidebar-nav-2d {
  margin-top: 5em;

  .nav > li > a {
    margin-right: 3px;
  }

  .nav > li > a:hover, .nav > li > a:focus, .nav > li > a:active, .nav > li.active > a {
    background: none;
    border-right: 1px solid $main-color;
    margin-right: 2px;
  }

  .nav > li.active > a {
    border-right-width: 3px;
    margin-right: 0;
  }

  & > ul > li a {
    padding: 0.2em;
  }

  & > ul > li ul {
    padding: 0 0 0 0.4em;
  }
}

/** Same as above, usually. **/
#scroll-spy-nav {
  width: 6em;

  @media (min-width: 1600px) {
    width: 9em;
  }

  & > a {
    color: $main-color;
    padding: 0.2em;

    &:hover, &:focus, &:active {
      color: $main-color-darker;
      text-decoration: none;
    }
  }
}

.btn-link {
  color: $main-color;
}

/** Cool buttons, additionally used to .btn class. **/
.btn-2d, #calendar-dates .btn-2d {
  color: $font-color-inverse;
  background-color: $main-color;
  height: inherit;
  @include shadow-2d($main-color-darker);

  &:hover, &:focus, &:active {
    border-bottom: none;
    margin-top: 3px;
    color: #fff;
    outline: none;
  }

  .panel-heading &.btn-add {
    color: $main-color;
    background-color: $font-color-inverse;
    padding: 0 6px;
    @include shadow-2d($main-color-darker);

    &:hover, &:focus, &:active {
      border-bottom: none;
      margin-top: 3px;
      color: $main-color-darker;
      outline: none;
    }
  }
}

/** Style calendar. **/
#calendar-dates {
  .fc-event {
    color: $font-color-inverse;
    background-color: $main-color;
    @include shadow-2d($main-color-darker);

    &.event-gig {
      color: $font-color-inverse;
      background-color: orangered;
      @include shadow-2d(darkred);
    }

    &.event-birthday {
      color: $font-color-inverse;
      background-color: green;
      @include shadow-2d(darkgreen);
    }

    &.event-rehearsal {
      color: $font-color-inverse;
      background-color: $main-color;
      @include shadow-2d($main-color-darker);
    }
  }

  .fc-day-grid-event .fc-content {
    white-space: normal;
  }

  .fc-popover .fc-header {
    background: none;
  }
}

#list-dates {
  .event {
    color: $font-color-inverse;
    padding-bottom: 1em;
    margin-bottom: 0.5em;
  }

  .event-gig {
    background-color: orangered;
    @include shadow-2d(darkred);
  }

  .event-birthday {
    background-color: green;
    @include shadow-2d(darkgreen);
  }

  .event-rehearsal {
    background-color: $main-color;
    @include shadow-2d($main-color-darker);
  }

  .date {
    font-size: 1.2em;
  }

  .list-item a {
    padding: 0;
  }
}

/** Cool panels, additionally used to .panel class. **/
.panel-2d {
  @include shadow-2d($grey-darker);

  .panel-heading {
    color: $font-color-inverse;
    background-color: $main-color;
    @include shadow-2d($main-color-darker);
    font-weight: bold;
  }

  .panel-body {
    background-color: #fafafa;
    @include border-radius(0);
  }

  &.panel-2d-grey, & .panel-2d {
    .panel-heading {
      color: $font-color;
      background-color: $grey;
      @include shadow-2d($grey-darker);
      font-weight: normal;
    }

    .panel-body {
      background-color: #fefefe;
    }
  }
}

/** Cool inputs, additionally used to .form-control class. **/
.form-control-2d {
  color: $font-color;
  background-color: $font-color-inverse;
  @include shadow-2d($grey-darker);

  &:focus {
    border-color: $font-color;
    @include box-shadow(none);
  }
}

ul.messages-list-2d {
  list-style: none;
  padding: 0;

  & li {
    padding: 0.2em 0;

    &:before {
      content: "\f12a";
      font-family: "FontAwesome", sans-serif;
      padding: 0 1em;
    }

    &.text-success:before {
      content: "\f00c";
    }
  }
}

.text-success i.fa-check {
  padding: 0 1em;
}

div.checkbox input[type='checkbox'] + span:before,
div.radio input[type='radio'] + span:before {
  content: '';
  color: #000;
  width: 1em;
  height: 1em;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 20px;
  top: 2px;
  position: relative;
  margin-left: -1em;
  padding-left: 0;
  padding-right: 1.5em;
  background-color: #fff;
}

div.radio input[type='radio']:focus + span:before,
div.checkbox input[type='checkbox']:hover + span:before,
div.radio input[type='radio']:hover + span:before {
}

div.checkbox input[type='checkbox'], div.radio input[type='radio'] {
  display: none;
  height: 1px;

  & + span:before {
    content: '\f096';
    font-family: "FontAwesome", sans-serif;
  }

  &:checked + span:before {
    content: '\f046';
    font-family: "FontAwesome", sans-serif;
  }

  &:focus + span:before,
  &:hover + span:before {
    color: $main-color-darker;
  }
}

.notifyjs-corner {
  top: 6em !important;
  margin: 0 !important;
}

.notifyjs-wrapper {
  margin: 0 !important;
  height: 3.5em !important;
}

.notifyjs-container {
  margin: 0 !important;
}

.notifyjs-shadow2d-base {
  font-weight: bold;
  padding: 1em 2em 1em 0;
  color: $main-color;
  background-color: #fff;
  @include shadow-2d($grey-darker);

  &:before {
    content: "\f12a";
    font-family: "FontAwesome", sans-serif;
    padding: 0 1em;
  }

  &.notifyjs-shadow2d-success {
    color: #3c763d;
    background-color: #d9edf7;
    @include shadow-2d(#3c763d);

    &:before {
      content: "\f00c";
    }
  }

  &.notifyjs-shadow2d-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    @include shadow-2d(#8a6d3b);
  }

  &.notifyjs-shadow2d-danger {
    color: #a94442;
    background-color: #f2dede;
    @include shadow-2d(#a94442);
  }

  &.notifyjs-shadow2d-help {
    color: $font-color;
    background-color: $font-color-inverse;
    @include shadow-2d($grey-darker);
    padding: 1em;
    display: block;
    min-width: 25em;
  }
}

.no-margin {
  margin: 0 !important;
}

.help-bubble {
  cursor: pointer;
  color: $main-color;
}