$sans-font: 'Raleway', sans-serif;
$main-color: #3F7DBD;
$main-color-darker: #174C84;
$main-color-lighter: #D9E1F2;
$grey: #CCCCCC;
$grey-darker: #A6A6A6;
$font-color: #232323;
$font-color-inverse: #f0f0f0;