$sans-font: 'Raleway', sans-serif;
$main-color: #3F7DBD;
$main-color-darker: #174C84;
$main-color-lighter: #D9E1F2;
$grey-lighter: #F0F0F0;
$grey: #CCCCCC;
$grey-darker: #A6A6A6;
$font-color: #232323;
$font-color-inverse: #f0f0f0;

$success-color-lighter: #dff0d8;
$success-color: #5cb85c;
$success-color-darker: #3c763d;

$warning-color-lighter: #fcf8e3;
$warning-color: #f0ad4e;
$warning-color-darker: #8a6d3b;

$error-color-lighter: #f2dede;
$error-color: #d9534f;
$error-color-darker: #a94442;