$sans-font: 'Exo 2', sans-serif;

$main-color: #3795C3;
$main-color-darker: #2880AA;
$main-color-lighter: #7FBFDE;

$grey-lighter: #eaeaea;
$grey: #c3c3c3;
$grey-darker: #afafaf;

$font-color: #020202;
$font-color-inverse: #fdfdfd;

$success-color-lighter: #97F084;
$success-color: #56E438;
$success-color-darker: #44C728;

$warning-color-lighter: #FFCA8D;
$warning-color: #FFA63F;
$warning-color-darker: #DF8D2D;

$error-color-lighter: #FC8B96;
$error-color: #FA3D4F;
$error-color-darker: #DA2C3D;
